*{
    margin: 10px;
}
.form-1{
    max-width: 500px;
}
.form-1 img{
    width: 100%;
}
.form-2 label{
    display: flex;
}
.form-2 textarea{
    width: 300px;
}
.hr{
    border: 1px solid thistle;
}
