*{
    margin: 10px;
    background-color: antiquewhite;
}
.form-1{
    max-width: 500px;
}
.form-1 img{
    width: 100%;
}
.form-2 label{
    display: flex;
}
.form-2 textarea{
    width: 300px;
}
.hr{
    border: 1px solid thistle;
}
#submit{
    background-color: darkgoldenrod;
    padding: 5px 10px;
    border: darkgoldenrod;
    border-radius: 5px;
    font-size: 1.1em;
    animation-name: myAnimation;
    animation-duration: 10s;
}
